/* Estilos generales */
body {
    display: flex;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background: rgb(221, 221, 221);

    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    right: 0px;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
header img{
    width: 50px;
    height: 50px;
}
.productos{
    margin-top: 70px;
}
/* Estilos para la tabla de productos */
.productos table {
    background-color: #fff;
    width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sutil sombra a la tabla */
}

/* Estilos para las celdas de la tabla de productos */
.productos table td {
    border: 1px solid #ddd; /* Borde más suave */
    padding: 15px; /* Aumenta el espacio interno */
    text-align: center;
}

/* Estilos para las imágenes dentro de la tabla */
.productos table img {
    height: 150px;
    width: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.marco{
    width: 800px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.062);
}

.productos a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}
.productos a :hover{
    color: #fff;
    cursor: pointer;

}
footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px;
    position: relative;
    margin-bottom: 0px;
    width: 100%;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}