body {
    display: flex;
    font-family: Arial, sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background: rgb(221, 221, 221);
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 10px;
    position: relative;
    margin-top: 0px;
    width: 100%;
    right: 0px;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
header img{
    width: 50px;
    height: 50px;
}

table{
    background-color: #fff;
    text-align: auto;
    border-radius: 5px;

}
form {
    position: relative;
    margin: 50px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    align-items:center;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px; /* Ajustado el margen inferior */
    color: #333;
}

form a {
    display: block;
    width: 140px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #02264b;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #0066cc;
    border-radius: 5px;
}

form a:hover {
    background-color: #0066cc;
    color: #fff;
}

input[type="hidden"],
label {
    margin-bottom: 15px;
    margin-top: 5px;
}

input[type="hidden"] {
    display: block;
}

form img {
    width: 200px; /* Hacer que la imagen sea responsiva */
    height: 170px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="number"],
form select {
    width: 140px;
    padding: 8px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #0066cc;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"] {
    color: #fff;
    padding: 8px;
    margin-top: 10px;
    border: none;
    background-color: #0066cc;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;

}

form input[type="submit"]:hover {
    background-color: #004080; /* Color de fondo más oscuro al pasar el ratón */
}
.relacionado {
    width: 200px;
    position: relative;
    margin-left: auto;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
}

.borde{
    text-align: center;
    margin: auto;
    width: 300px;
    height: 220px;
    border-bottom: 1px rgba(0, 0, 0, 0.527) solid;
    border-top: 1px rgba(0, 0, 0, 0.473) solid;
    border-right: 0px rgba(255, 255, 255, 0.233) solid;
    border-left: 0px rgba(255, 255, 255, 0.233) solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);

}
.relacionado img{
    width: 60px;
    height: 50px;
}
.formula{
    width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;

}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px;
    position: relative;
    margin-bottom: 0px;
    width: 100%;

}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
